solrUrl:http://localhost:8983/solr/virgo/update
archivesSpaceUrl:http://localhost:8089/
indexOutputDir:index
logOutputDir:logs
username:
password:
tracksysDbHost:
tracksysDbUsername:
tracksysDbPassword:
